<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        @{ 
            Session["user"] = "alexandre";

            <a href="~/Index.cshtml">Volta</a>
        }
    </body>
</html>
