@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var db = WebMatrix.Data.Database.Open("dbBancoPIM");

    var idS = Request.QueryString["id"];
    int qtde = Request.QueryString["qtd"].AsInt();

    //preto u-u
    var sala = db.Query(@"SELECT s.idSala, c.idMatricula 'Matricula', c.nome 'nomeAluno', t.periodo 'periodo'
                          FROM Sala s LEFT JOIN Crianca c
                          ON s.idSala = c.idSala
                          LEFT JOIN Turma t
                          ON c.idTurma = t.idTurma
                          WHERE s.idSala=@0", idS);

    db.Close();

    bool verificacao = false;

}
<hr />
<h3 class="text -center"> Lista de Crianças </h3>
<p></p><br />
<hr />

<form method="post" action="">
    <div class="col-md-7">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Período</th>
                    <th class="text-center">Detalhes</th>
                </tr>
            </thead>
            <tbody>
                @if (qtde > 0)
                {
                    var dbS = WebMatrix.Data.Database.Open("dbBancoPIM");

                    var dados = dbS.Query(@"SELECT s.idSala, c.idMatricula 'Matricula', c.nome 'nomeAluno', t.periodo 'periodo'
                          FROM Sala s LEFT JOIN Crianca c
                          ON s.idSala = c.idSala
                          LEFT JOIN Turma t
                          ON c.idTurma = t.idTurma
                          WHERE s.idSala=@0", idS);

                    dbS.Close();

                    verificacao = true;

                    if (verificacao)
                    {
                        foreach (var s in dados)
                        {

                            <tr>
                                <td>@s.nomeAluno</td>
                                <td>@s.periodo</td>
                                <td class="text-center">
                                    <button type="button" class="btn btn-sm btn-primary btnDetalhes text-center" data-value="@s.Matricula"><span class="glyphicon glyphicon glyphicon-list-alt"></span> Ficha</button>
                                </td>
                            </tr>
                        }
                    }

                }
                else
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudoModal">
                    <!--RenderModal-->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".btnDetalhes").click(function () {
                var id = $(this).data("value");
                $("#conteudoModal").load("/Views/Crianca/FichaCrianca.cshtml?matricula=" + id,
                    function () {
                        $('#myModal').modal('show')
                    });
            });
        });
    </script>
}