@{ 

    


}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title text-info text-center" id="myModalLabel"> Cadastrar Usuário </h4>
</div>
<p></p>
<!--Dados da Crianca-->

 <form method="post" action="~/DAL/ContaDAL/CadastroContaDAL.cshtml">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="textUsuario">Usuario: </label>
                <input type="text" name="textUsuario" id="nome" placeholder="Usuario" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="textUsuario">Senha: </label>
                <input type="text" name="textSenha" id="nome" placeholder="Senha" class="form-control" required />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon glyphicon-edit"></span> Salvar</button>
    </div>
</form>